---
import Card from "../../components/Card.astro";
import MagicTitle from "../../components/MagicTitle.astro";
import Layout from "../../layouts/Layout.astro";
import { getPagesFor } from "../../utils/filters";
import { formatDate, slugify } from "../../utils/formatters"

// export async function getStaticPaths () {
//   const allPosts = await Astro.glob("../post/*.md")
//   const allCategories = [
//     ...new Set(allPosts.map(post => {
//       return post.frontmatter.category
//     }
//     ).flat())
//   ]
  
//   return allCategories.map(categoryName => {
//     const categoryPosts = allPosts.filter(post => post.frontmatter.category === categoryName)
//     return {
//       params: { category: slugify(categoryName) },
//       props: {
//         categoryName,
//         posts: categoryPosts
//       }
//     }
//   })
// }

export async function getStaticPaths () {
  const allPosts = await Astro.glob("../post/*.md")
  // return await getPagesFor(allPosts, 'category', {
  return await getPagesFor(allPosts, 'CATEGORY', {
    // filterOutDrafts: false,
    // filterOutFuturePosts: false,
    // sortByDate: false
    // limit: 2
  })
}



const { category } = Astro.params
const { categoryName, posts } = Astro.props
// console.log(posts)
---

<Layout title={categoryName}>
  <section aria-label={`Posts of ${categoryName}`}>
    <MagicTitle value={categoryName} keyWord="Publicaciones de" size="50"/>

    <div class="flex flex-col gap-10">
      {
        posts.map(post => {
          const {title, image, category, description, author, date} = post.frontmatter
          // console.log(category)
						return (
							<Card 
								{title}
								image={image.src}
								{category}
								{description}
								author={author.name}
								date={formatDate(date)}
								imgAlt={image.alt}
                postSrc={post.url}
							/>
            // <a href={post.url}>Ver Post</a>
          )
        })
      }
    </div>
  </section>
</Layout>