---
import Card3 from "../../components/Card3.astro";
import Layout from "../../layouts/Layout.astro";
import { slugify } from "../../utils/formatters"

export async function getStaticPaths () {
  const allPosts = await Astro.glob("../post/*.md")
  const allCategories = [
    ...new Set(allPosts.map(post => {
      return post.frontmatter.category
    }
    ).flat())
  ]
  
  return allCategories.map(categoryName => {
    const categoryPosts = allPosts.filter(post => post.frontmatter.category === categoryName)
    return {
      params: { category: slugify(categoryName) },
      props: {
        categoryName,
        posts: categoryPosts
      }
    }
  })
}

const { category } = Astro.params
const { categoryName, posts } = Astro.props
---

<Layout title={categoryName}>
  <section aria-label={`Posts of ${categoryName}`}>
    <h1>Posts of <span>{categoryName}</span></h1>
    <div class="flex flex-col gap-4">
      {
        posts.map(post => {
          const {title, image, category} = post.frontmatter
          return (
            <Card3 
              {title}
              image={image.src}
              {category}
            />
            <a href={post.url}>Ver Post</a>
          )
        })
      }
    </div>
  </section>
</Layout>