---
import Card from "../../components/Card.astro";
import MagicTitle from "../../components/MagicTitle.astro";
import Layout from "../../layouts/Layout.astro";
import { getPagesFor } from "../../utils/filters";
import { formatDate } from "../../utils/formatters"

export async function getStaticPaths () {
  const allPosts = await Astro.glob("../post/*.md")
  // return await getPagesFor(allPosts, 'category', {
  return await getPagesFor(allPosts, 'CATEGORY', {
    // filterOutDrafts: false,
    // filterOutFuturePosts: false,
    // sortByDate: false
    // limit: 2
  })
}

const { category } = Astro.params
const { categoryName, posts } = Astro.props
---

<Layout title={categoryName}>
  <section aria-label={`Posts of ${categoryName}`}>
    <MagicTitle value={categoryName} keyWord="Publicaciones de" size="50"/>

    <div class="flex flex-col gap-10">
      {
        posts.map(post => {
          const {title, image, category, description, author, date} = post.frontmatter
						return (
							<Card 
								{title}
								image={image.src}
								{category}
								{description}
								author={author.name}
								date={formatDate(date)}
								imgAlt={image.alt}
                postSrc={post.url}
							/>
          )
        })
      }
    </div>
  </section>
</Layout>