---
import Card from "../../components/Card.astro";
import MagicTitle from "../../components/MagicTitle.astro";
import Layout from "../../layouts/Layout.astro";
import { getPagesFor } from "../../utils/filters";
import { formatDate, slugify } from "../../utils/formatters"

// export async function getStaticPaths () {
//   const allPosts = await Astro.glob("../post/*.md")
//   const allAuthors = [
//     ...new Set(allPosts.map(post => {
//       return post.frontmatter.author.name
//     }
//     ).flat())
//   ]
  

//   return allAuthors.map(authorName => {
//     const authorPosts = allPosts.filter(post => post.frontmatter.author.name === authorName)
//     return {
//       params: { author: slugify(authorName) },
//       props: {
//         authorName,
//         posts: authorPosts
//       }
//     }
//   })
// }

export async function getStaticPaths () {
  const allPosts = await Astro.glob("../post/*.md")
  // return await getPagesFor(allPosts, 'category', {
  return await getPagesFor(allPosts, 'AUTHOR', {
    // filterOutDrafts: false,
    // filterOutFuturePosts: false,
    // sortByDate: false
    // limit: 1
  })
}

// const { author } = Astro.params
const { authorName, posts } = Astro.props
---

<Layout title={authorName}>
  <section aria-label={`Posts by ${authorName}`}>
    <MagicTitle value={authorName} keyWord="Escrito por" size="80"/>
    <div class="flex flex-col gap-4">
      {
        posts.map(post => {
          const {title, image, category, description, author, date} = post.frontmatter
						return (
							<Card 
								{title}
								image={image.src}
								{category}
								{description}
								author={author.name}
								date={formatDate(date)}
								imgAlt={image.alt}
                postSrc={post.url}
							/>
          )
        })
      }
    </div>
  </section>
</Layout>