---
import Card1 from '../components/Card1.astro';	
import Card from '../components/Card.astro';
import CategoriesList from '../components/CategoriesList.astro';
import Navigator from '../components/Navigator.astro';
import Title from '../components/Title.astro';
import TituloMagic from '../components/MagicTitle.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob("./post/*.md")

import { getMatchData, filterPostsBy } from "../utils/filters.js"
import { formatDate } from '../utils/formatters';
const allCategories = await getMatchData(allPosts, "category")
// console.log(allCategories)

const randomPosts = allPosts.sort(() => Math.random() - 0.5).slice(5)

console.log(randomPosts)



---

<Layout title="Home Page">

	<section class="bg-red-600 flex flex-col">
		<Title title="Últimos Posts" />
		<img src="/favicon.svg" alt="" class="w-[250px]">
	</section>

	<Navigator />
	<section class="grid grid-cols-[75%_25%] pt-8 gap-4">

		<!-- <section class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-[1800px] m-auto gap-x-9 gap-y-14 py-9">
			<Card2 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card1 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card1 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
			<Card 
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
			/>
		</section> -->

		<!-- <section class="grid grid-cols-4 max-w-[1800px] m-auto gap-x-9 gap-y-14 py-9"> -->
		<section class="flex flex-col justify-start max-w-[1800px] gap-y-8">

			<TituloMagic 
				keyWord="Ya Funciono"
			 	value="Mariana" 
		 />
			
			<ul>
				{
					randomPosts.map(post => {
						const {title, image, category, description, author, date} = post.frontmatter
						return (
							<Card 
								{title}
								image={image.src}
								{category}
								{description}
								author={author.name}
								date={formatDate(date)}
								imgAlt={image.alt}
							/>
							<a href={post.url}>Ver Post</a>
						)
					})
				}
			</ul>

		 <!-- <Card
			<TituloMagic 
				primary_title="Ya Funciono"
				complement="Mariana" 
			/>

		 <Card
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio. Dolores quis, sit laborum repellat dignissimos optio"
			/>
			<Card
				image="/post-1.avif"
				category="Tokio"
				title=" La primavera tokiota en su máximo esplendor"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio."
			/>
			<Card
				image="/Infidelidad.webp"
				category="Infidelidades"
				title="Infidelidad: causas, tipos y soluciones"
				description="	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio."
			/>
			<Card
				image="/ejemploCard.jpg"
				category="Montañas"
				title="Las montañas son Hermosas"
				description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea perferendis reprehenderit eum officia veritatis neque id omnis? Accusantium deserunt architecto dolores quis, sit laborum repellat dignissimos optio. Dolores quis, sit laborum repellat dignissimos optio"
			/> -->


		</section>

		<aside class="relative">
			<div class="sticky top-8">
				<CategoriesList categories={allCategories} />
			</div>
		</aside>
	</section>




</Layout>