---
import Card from '../components/Card.astro';
import CategoriesList from '../components/CategoriesList.astro';
import Navigator from '../components/Navigator.astro';
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob("./post/*.md")

import { getMatchData } from "../utils/filters.js"
import { formatDate } from '../utils/formatters';
import { SliderHome } from '../components/SliderHome.jsx';

const allCategories = await getMatchData(allPosts, "CATEGORY")
const allAuthors = await getMatchData(allPosts, "AUTHOR")

const randomPosts = allPosts.sort(() => Math.random() - 0.5).slice(0, 5)
---

<Layout title="Home Page">

	<section class="bg-[var(--background-color-card)] flex flex-col rounded-md sm:mb-12 mb-4">
		<SliderHome authors={allAuthors} client:load/>
	</section>

	<Navigator />
	<section class="grid grid-cols-1 pt-8 gap-4 px-4 md:grid-cols-[75%_25%] md:px-0">
		<section class="order-2 max-w-[1800px] md:order-1">
			<ul class="flex flex-col gap-y-4 md:gap-y-8">
				{
					randomPosts.map(post => {
						const {title, image, category, description, author, date} = post.frontmatter
						return (
							<li>
								<Card 
									{title}
									image={image.src}
									{category}
									{description}
									author={author.name}
									date={formatDate(date)}
									imgAlt={image.alt}
									postSrc={post.url}
								/>
							</li>
						)
					})
				}
			</ul>
		</section>

		<aside class="relative order-1 md:order2 pb-6 md:pb-0">
			<div class="md:sticky top-8">
				<CategoriesList categories={allCategories} />
			</div>
		</aside>
	</section>

</Layout>