---
import Link from './Link.astro';
import Title from './Title.astro'

import { slugify, formatDate } from "../utils/formatters"

const {title, category, author, date, image} = Astro.props
const slugCategory = slugify(category)
const slugAuthor = slugify(author.name)
const formattedDate = formatDate(date)

---

<figure class="relative w-full h-full mt-3">
  <img src={image.src} alt={image.alt} class="w-full aspect-video">
  <div class="sm:block">
    <div class="flex sm:absolute bottom-0 left-0 pl-4 py-4 backdrop-blur-sm w-full sm:text-white text-[var(--color-text)]" >
      <div class="flex items-center border-r-2 border-gray-400 pr-2">
        <img src="/Logo.png" alt="Logo webPage" class="hidden sm:w-12 sm:block">
      </div>
      <div class="flex flex-col pl-4 gap-3">
        <div>
          <Link text={category} href={`/category/${slugCategory}`} useColor={false}/>
          <Title title={title}/>
        </div>
        <div class="flex text-xs px-2">
          <a href={`/author/${slugAuthor}`} class="flex gap-1.5 items-center">
            <img src={author.src} alt={`Foto de ${author.name}`} width="25" class="rounded-full">
            <span>{author.name}</span>
          </a>        
          <span class="h-full flex items-center">
            &nbsp;•&nbsp;{formattedDate}
          </span>
        </div>
      </div>
    </div>
  </div>
</figure>

<!-- <figure class="relative w-full h-full mt-3">
  <img src={image.src} alt={image.alt}>
  <div class="hidden sm:block">
    <div class="flex absolute bottom-0 left-0 pl-4 py-4 backdrop-blur-sm w-full text-white" >
      <div class="flex items-center border-r-2 border-gray-400">
        <img src="/favicon.svg" alt="" width="45">
      </div>
      <div class="flex flex-col pl-4 gap-3">
        <div>
          <Link text={category} href={`/category/${slugCategory}`}/>
          <Title title={title}/>
        </div>
        <div class="flex text-xs ">
          <a href={`/author/${slugAuthor}`} class="flex gap-1.5 items-center">
            <img src={author.src} alt={`Foto de ${author.name}`} width="25" class="rounded-full">
            <span>{author.name}</span>
          </a>        
          <span class="h-full flex items-center">
            &nbsp;•&nbsp;{formattedDate}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="block sm:hidden">
    <div class="flex bottom-0 left-0 pl-4 py-4 backdrop-blur-sm w-full text-[var(--color-text)]" >
      <div class="flex items-center border-r-2 border-gray-400">
        <img src="/favicon.svg" alt="" width="70">
      </div>
      <div class="flex flex-col pl-4 gap-3">
        <div>
          <Link text={category} href={`/category/${slugCategory}`}/>
          <Title title={title}/>
        </div>
        <div class="flex text-xs ">
          <a href={`/author/${slugAuthor}`} class="flex gap-1.5 items-center">
            <img src={author.src} alt={`Foto de ${author.name}`} width="25" class="rounded-full">
            <span>{author.name}</span>
          </a>        
          <span class="h-full flex items-center">
            &nbsp;•&nbsp;{formattedDate}
          </span>
        </div>
      </div>
    </div>
  </div>
</figure> -->
