---
import { Icon } from 'astro-icon'

interface Props {
  text: string;
  href: string;
  style: "primary" | "secondary";
  icon?: {
    name: string;
    side: "left" | "right";
  };
  isFilled?: boolean;
  borderVisible?: boolean;
  classes?: string;
}

const {
  text,
  href,
  style,
  icon,
  isFilled = true,
  borderVisible = false,
  classes
} = Astro.props as Props;

---

<button
  class="flex items-center px-2 py-1 rounded-md text-[var(--text-color)] bg-[var(--primary-color)]"
  class:list={[
    style,
    classes,
    {filled: isFilled, bordered: borderVisible}
  ]}
>

  {
    // icon && icon.side === "left" && <img src={icon.src} alt=""></img>
    icon && icon.side === "left" && <Icon name={icon.name} width="20"/>
  }

<a href={href} aria-label={text}>{text}</a>

  {
  // icon && icon.side === "right" && <img src={icon.src} alt=""></img>
    icon && icon.side === "right" && <Icon name={icon.name} width="20"/>
  }

</button>

<!-- <button class="primary personalizada1 personalizada2 filled"></button> -->

<style>
  .filled.primary {
    background-color: var(--primary-color);
  }

  .filled.secondary {
    background-color: var(--secondary-color);
  }

  .bordered {
    border: 1px solid white;
  }
</style>