---
import InfoBubble from './InfoBubble.astro';
import { slugify } from '../utils/formatters';
import ButtonReadMore from './ButtonReadMore.astro';

interface Props{
  image: string;
  category: string;
  title: string;
  description: string;
  author: string;
  date: string;
  imgAlt: string;
  postSrc: string;
}

const { image, category, title, description, author, date, imgAlt, postSrc} = Astro.props
---

<div id="card" class="grid grid-cols-2 relative rounded-3xl bg-[var(--background-color-card)] gap-[0.5rem] md:gap-[1.5rem] overflow-hidden md:h-[350px] h-full" >

  <div id="contenedor_imagen" class="relative col-span-2 md:col-span-1 overflow-hidden">
    <img src={image} alt={imgAlt} class="h-full w-full object-cover rounded-b-none md:rounded-3xl max-w-[375] max-h-[250] md:max-w-[560] md:max-h-[350]" >

    <div class="flex flex-row absolute bottom-0 right-0 pb-3.5 pr-1">
      <InfoBubble message={author} keyWord="Escrito por"/>
      <InfoBubble message={date} keyWord="Publicado el"/>
    </div>
  </div>

  <div class="flex flex-col font-bold p-5 gap-2 h-full col-span-2 md:col-span-1 md:py-5 md:pr-5">
    <a href={`/category/${slugify(category)}`}>
      <h6 class= "w-fit uppercase text-xs text-[var(--color-category-text)] font-semibold py-1 px-2 rounded-md bg-[var(--color-category-bg)] menu inline-block">{category}</h6>
    </a>
    <div class="line-clamp-2">
      <h3 class="text-[1.75rem] font-bold py-1 px-1">
        {title}
      </h3>
    </div>
    <div class="line-clamp-4">
      <p class="font-light">
        {description}
      </p>
    </div>

    <div class= "flex text-[var(--color-category-text)] font-normal justify-center pt-6">
      <ButtonReadMore text="Leer Más"  href={postSrc}/>
    </div>
  </div>
</div>

<style>
#card #contenedor_imagen > div{
  visibility: hidden;
  opacity: 0%;
  transform: translatey(11%);
  transition: 0.7s;
}

#card:hover #contenedor_imagen > div{
  visibility: visible;
  opacity: 100%;
  transform: translatey(-10%);
}

#card #contenedor_imagen > img{
  transition: 0.3s;
}
#card:hover #contenedor_imagen > img{
  filter: brightness(60%);
}

</style>
