---
import { formatDate } from "../utils/formatters";
import Card from "./Card.astro";


const { posts } = Astro.props
---

<ul class="flex flex-col gap-y-4 md:gap-y-8" id="hola">
  {
    posts.map(post => {
      const {title, image, category, description, author, date} = post.frontmatter
      return (
        <li>
          <Card 
          {title}
          image={image.src}
          {category}
          {description}
          author={author.name}
          date={formatDate(date)}
          imgAlt={image.alt}
          postSrc={post.url}
        />
        </li>
      )
    })
  }
</ul>

<script>
  const postSearch = document.querySelector("#postSearch");
  const debouncedHandleInput = debounce(handleInput, 500)
  postSearch.addEventListener("input", debouncedHandleInput)
  
  function debounce(func, delay) {
    let timeoutId;
    
    return function (...args) {
      clearTimeout(timeoutId);
      
      timeoutId = setTimeout(() => {
        func.apply(this, args);
      }, delay);
    };
  }

  function handleInput(event) {
    // console.log(event.target.value);
    const hola = document.querySelector("#hola");   
    hola.innerHTML = ''

    posts = [...posts].slice(0,2)

    hola.innerHTML =  posts.map(post => {
      const {title, image, category, description, author, date} = post.frontmatter
      return (`
        <li>
          <Card 
          title=${title}
          image=${image.src}
          category=${category}
          description=${description}
          author=${author.name}
          date=${formatDate(date)}
          imgAlt=${image.alt}
          postSrc=${post.url}
        />
        </li>
      `)
    })



  }
 

</script>